*{
  font-family: 'Roboto', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* payment success tick */
.check-tick {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: draw 0.6s ease-in-out forwards 0.3s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


/* payment failure */
.cross-line {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  animation: draw-cross 0.6s ease-in-out forwards;
}

.cross-line:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes draw-cross {
  to {
    stroke-dashoffset: 0;
  }
}

/* loading payment */
.loader-circle {
  width: 48px;
  height: 48px;
  border: 4px solid #e5e7eb;
  border-top-color: #10b981; /* Green stroke */
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}